@font-face {
    font-family: 'kubo';
    src: url('/fonts/KUBO.otf') format('opentype');
}

@font-face {
    font-family: 'creato';
    src: url('/fonts/CreatoDisplay-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'creato';
    src: url('/fonts/CreatoDisplay-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'creato';
    src: url('/fonts/CreatoDisplay-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'creato';
    src: url('/fonts/CreatoDisplay-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'creato';
    src: url('/fonts/CreatoDisplay-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}


// src: url('/fonts/comics.ttf') format('truetype'),
// url('fonts/my-font.otf') format('opentype');