@font-face {
    font-family: 'kubo';
    src: url('/fonts/KUBO.otf') format('opentype');
}

@font-face {
    font-family: 'creato';
    src: url('/fonts/CreatoDisplay-BoldItalic.otf') format('opentype');
}


// src: url('/fonts/comics.ttf') format('truetype'),
// url('fonts/my-font.otf') format('opentype');